ul {
  list-style-type: none;
  background-color: #8ac6d0;
  height: 50px;
  /* padding-top: 1em; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}
li > a {
  color: #ee6c4d;
  text-decoration: none;
  display: inline;
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 1.45em;
  padding-left: 0.45em;
  cursor: pointer;
}
