<section class="sportContainer">
  <h1>Sport: {{ this.sportInput.GroupName }}</h1>
  <div class="wrapper">
    <div class="sportData">
      <label>Sport Director's Name: {{ this.sportInput.SponsorName }}</label>
      <label>
        Number of teams: {{ this.sportInput.Organizations.length }}/{{
          this.sportInput.MaxGroupSize
        }}
      </label>
    </div>
    <div class="btnContainer">
      <app-edit-btn (click)="showEditSportForm(this.sportInput)"></app-edit-btn>
      <app-delete-btn (click)="deleteSport(this.sportInput)"></app-delete-btn>
    </div>
  </div>
</section>
