<section class="sportContainer">
  <h1>Sport: {{ this.sportInput.GroupName }}</h1>
  <div class="wrapper">
    <div class="sportData">
      <label>Sport ID: {{ sportInput?.GroupId }}</label>
      <label>Sport Director's Name: {{ sportInput?.SponsorName }}</label>
      <label>Sport Director's Email: {{ sportInput?.SponsorEmail }}</label>
      <label>Sport Director's Phone: {{ sportInput?.SponsorPhone }}</label>
      <label
        >Team Capacity: {{ sportInput?.Organizations?.length }}/
        {{ sportInput?.MaxGroupSize }}</label
      >
    </div>
    <div class="btnContainer">
      <app-view-btn [routerLink]="sportInput.GroupId"></app-view-btn>
      <app-edit-btn (click)="showEditSportForm(this.sportInput)"></app-edit-btn>
      <app-delete-btn (click)="deleteSport(this.sportInput)"></app-delete-btn>
    </div>
  </div>
</section>
