.sportContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 1em;
  background-color: #224870;
  width: 750px;
  height: 125px;
  margin: 15px;
  justify-content: space-evenly;
  cursor: pointer;
}
.sportData {
  display: flex;
  padding-left: 10px;
  justify-content: space-evenly;
  color: peachpuff;
  font-weight: bold;
}
.sportContainer:hover {
  background-color: #2a4494;
  box-shadow: 0 0 5px #4ea5d9;
  transform: scale(1.03);
}
