<div class="startWrapper">
  <div class="landingContainer">
    <h3>Sports Unlimited</h3>
    <p>
      Sports Unlimited offers very competitive leagues of many sports. This
      website allows for you to search through the available sports and register
      for a team, create a team, or create a sport if it is not listed.
    </p>
    <a routerLink="sports">
      <app-land-page-btn></app-land-page-btn>
    </a>
  </div>
  <div class="picContainer">
    <img src="../../assets/allSports-removebg-preview.png" alt="" />
  </div>
</div>
