/* You can add global styles to this file, and also import other style files */
@charset "utf-8";
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
#container {
  min-height: 100%;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  /* background: url(assets/seamless-sports-pattern-background-vector-1963029.jpg); */
  background-image: url(assets/sport.svg);
  background-color: #122c34;
  text-align: center;
  box-shadow: inset 0 0 95px rgba(0, 0, 0, 0.7);
  /* display: flex;
  flex-direction: column; */
  /* align-items: stretch; */
  /* justify-content: center; */
  overflow: auto;
}
.mcontainer {
  display: flex;
  margin-top: 185px;
}
div.mainContainer {
  height: 1000px;
}

.regButton {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px 1px #ccc;
  height: 40px !important;
  width: 150px;
  padding: 5px;
  margin: 1em;
  margin-bottom: 0;
  clear: both;
  border: solid #2a4494 2px;
  border-radius: 10px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#44cfcb), to(#4ea5d9));
  background: -moz-linear-gradient(top, #44cfcb, #4ea5d9);
  background: linear-gradient(to top, #44cfcb, #4ea5d9);
  box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 24px;
  cursor: pointer;
}

.editButton {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px 1px #ccc;
  height: 40px;
  width: 150px;
  padding: 5px;
  margin-top: 0;
  clear: both;
  border: solid #2a4494 2px;
  border-radius: 10px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f06d), to(#edd83d));
  background: -moz-linear-gradient(top, #f7f06d, #edd83d);
  background: linear-gradient(to top, #f7f06d, #edd83d);
  box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 24px;
  cursor: pointer;
  justify-items: center;
}

.viewButton {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px 1px #ccc;
  height: 40px;
  width: 150px;
  padding: 5px;
  margin-top: 0;
  clear: both;
  border: solid #2a4494 2px;
  border-radius: 10px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#44cfcb), to(#4ea5d9));
  background: -moz-linear-gradient(top, #44cfcb, #4ea5d9);
  background: linear-gradient(to top, #44cfcb, #4ea5d9);
  box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 24px;
  cursor: pointer;
  justify-items: center;
}

.deleteButton {
  color: peachpuff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px 1px #000;
  height: 40px !important;
  width: 150px;
  padding: 5px;
  margin-top: 0;
  clear: both;
  border: solid #2a4494 2px;
  border-radius: 10px;
  background: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#ea0f0b),
    to(#d60e0a)
  ) !important;
  background: -moz-linear-gradient(top, #ea0f0b, #d60e0a) !important;
  background: linear-gradient(to top, #ea0f0b, #d60e0a) !important;
  box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 24px;
  cursor: pointer;
}

.regButton:active,
.regButton:hover {
  background-color: #122c34;
  box-shadow: 0 0 5px #4ea5d9;
  transform: scale(1.03);
}
app-nav {
  margin-top: 90px;
  border: 1px solid #000;
}
app-sport-form {
  width: 500px;
}
app-search-add-nav {
  margin-top: 110px;
}

.viewButton:active,
.viewButton:hover {
  transform: scale(1.03);
}
