.header-footer {
  background: linear-gradient(
    to right top,
    #122c34,
    #0f323f,
    #0d384a,
    #0e3d55,
    #144261,
    #13446a,
    #164672,
    #1d487a,
    #1c4881,
    #1d4788,
    #22468e,
    #2a4494
  );
  width: 100%;
  color: peachpuff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainLandingPage {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  color: peachpuff;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
  width: 100%;
}
app-main {
  overflow: auto;
}
app-nav {
  position: fixed;
  left: 0;
  right: 0;
  padding: 0;
}
app-search-add-nav {
  position: fixed;
  left: 0;
  right: 0;
  padding: 0;
}
