.sportDetails {
  border: 1px solid #000;
  background-color: #224870;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 720px;
  border-radius: 1em;
  color: peachpuff;
}
.teamDetails {
  border: 1px solid #000;
  background-color: #224870;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 720px;
  border-radius: 1em;
  color: peachpuff;
}
label {
  align-self: flex-start;
}
.labelHeading {
  align-self: flex-start;
}
.wrapper {
  display: flex;
  flex-direction: row;
  border-top: 1px black solid;
}
.firstWrapper {
  display: flex;
  flex-direction: row;
}
.labelContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 25px;
}
.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 25px;
  width: 50%;
}
app-edit-btn,
app-delete-btn,
app-view-btn {
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}
